
<html>
<style>
  .game-container {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
  }

  .game-details {
    font-family: Arial, sans-serif;
  }

  h2 {
    color: #2c3e50;
  }
</style>
<head><title>{{title}}</title></head>
<body>
<!-- games.component.html -->

<!-- <div *ngFor="let game of gamesArray" class="game-container">
  <div class="game-details">
    <h2>{{ game.title }}</h2>
    <p><strong>Year Released:</strong> {{ game.yearReleased }}</p>
    <p><strong>Production Company:</strong> {{ game.productionCompany }}</p>
    <p><strong>Genre:</strong> {{ game.genre }}</p>

     Use ngIf to conditionally display the active status
    <p *ngIf="game.isActive !== undefined">
      <strong>Status:</strong> {{ game.isActive ? 'Active' : 'Inactive' }}
    </p>
  </div>
</div> -->

<!-- Assignment 3 below -->
<app-content-list [gamesArray]="gamesArray"></app-content-list>


</body>

</html>

<router-outlet />
